/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/assets
/.idea
/.idea/*
/.idea/*.iml
/.idea/*.xml
/.well-known
/.well-known/*
/cgi-bin
/css
/dist
/fonts
/images
/js
/webfonts
.htaccess
favicon.ico
index.php
mix-manifest.json
robots.txt
web.config
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/app/Providers/AppServiceProvider.php
/config/mail.php
php.ini
test_mail.php
index.html
