/*
	Custom css
	@author : Papa Amadou Abdoulaye

*/

.text-sm.subs-options {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}
.subs-prices {
    font-size: 1.8rem;
    color: #1a3d82;
    text-align: center;
}